.services-submenu {
    border-radius: 10px;
    width: 9.6rem;
    position: absolute;
    /* top: 147px; */
    list-style: none;
    padding: 2rem 0;
    z-index: 1000;
}

.services-submenu li {
    background-color: #c2c5aa;
    cursor: pointer;
}

.services-submenu li a:hover {
    background: #414833;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

@media(max-width: 750px) {

    .services-submenu {
        width: 15rem;
        left: 50%;
        display: flex;
        justify-content: center;
        list-style: none;
        text-align: center;
        height: 15rem;
        position: static;
        flex-direction: column;
    }

    .services-submenu li a {
        font-size: 27px;
    }

}