.EhTradeCards {
    padding: 5rem 2rem;
}

.EhTradeCrds_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.ehtrade_h2 {
    font-size: 42px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}

.ehtrade_bottom_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.ehtrade_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 250px;
    min-height: 260px;

}

.ehtrade_icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: conic-gradient(from 0deg, #ff7e5f, #feb47b);
    cursor: pointer;
}

.ehtrade_icon:hover {
    transform: scale(1.1);
    /* Elementin ölçüsünü artırmaq üçün */
    transition: transform 0.3s ease;
    /* Hərəkət effekti üçün keçid */
    filter: brightness(1.2);
    /* Rənglərin daha aydın görünməsi üçün */
}

.ehtrade-icon_a {
    font-size: 34px;
    color: #fff;
}

.ehtrade_text_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ehtrade_title_h4 {
    font-size: 16px;
    color: rgb(204, 48, 48);
    letter-spacing: 1.5px;
}

.ehtrade_desc_p {
    font-size: 14px;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 0 1rem;
}
